body {
  margin: 0;
  font-family: 'Aptos Display', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

header {
  text-align: center;
  background-color: #1a1a1a;
}

header img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

h2 { 
    color: #1a1a1a;
    font-size: 30;
    }

nav {
    margin: 20px auto;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  nav li {
    position: relative;
  }

  nav a {
    text-decoration: none;
    color: #ff4747;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    transition: color 0.3s;
  }

  nav a:hover,
  nav a.active {
    color: #fff;
    background-color: #ff4747;
    border-radius: 8px;
  }

  /* Dropdown */
  nav ul ul {
    display: none;
    position: absolute;
    top: 1.2rem;
    left: 0;
    background-color: #333;
    flex-direction: column;
    border-radius: 8px;
    min-width: 160px;
    padding: 0.5rem 0;
  }

  nav li:hover > ul {
    display: flex;
  }

  nav ul ul li {
    padding: 0.5rem 1rem;
  }

  nav ul ul li a {
    color: #fff;
    font-weight: normal;
  }

  nav ul ul li a:hover {
    color: #ff4747;
  }

/* GALLERY */
.gang-title {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.gang-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10rem;
}


.member {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 10px #ff4747;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #ff4747;
}

.member img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  border-radius: 16px;
}

.member img.back {
  opacity: 0;
}

.member:hover img.front {
  opacity: 0;
}

.member:hover img.back {
  opacity: 1;
}


@media (max-width: 700px) {
  .member {
    width: 200px;
    height: 200px;
  }
}
.member-name {
  font-size: larger;
}

.member img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition: opacity 0.5s ease;
  border-radius: 16px;
}

/* ===== FOOTER ===== */
footer {
  margin-top: 3rem;
  max-width: 1200px;        /* gleiche Breite wie dein Content */
  margin: 3rem auto 0 auto;
  padding: 1.5rem 0;
  background-color: #111;
  border-top: 2px solid #ff4747;
  color: #ccc;
  text-align: center;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}

footer p {
  margin: 0;     /* gleiche Breite wie dein Content */
  margin: 0 auto;     
  color: #aaa;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer p:hover {
  color: #ff4747;
  text-shadow: 0 0 8px #ff4747;
}
